<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dtenv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <dtenv.Properties.Settings>
            <setting name="DartGitHub" serializeAs="String">
                <value>https://github.com/dart-lang/sdk/releases</value>
            </setting>
            <setting name="UpdateSleep" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DartOldVersion" serializeAs="String">
                <value>1.1.1</value>
            </setting>
            <setting name="DartURL" serializeAs="String">
                <value>https://storage.googleapis.com/dart-archive/channels/stable/release/{0}/sdk/dartsdk-windows-{1}-release.zip</value>
            </setting>
            <setting name="PubCacheDir" serializeAs="String">
                <value>pub-cache</value>
            </setting>
        </dtenv.Properties.Settings>
    </userSettings>
</configuration>
